@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');

html, body {
font-family: "Overlock SC", serif;
background-color: darkgray;
padding: 0;
margin: 0;
height: 100%;
display: flex;
flex-direction: column;
}

.page_logo {
    height: 20px;
    display: inline;
}

.header_container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

main {
    flex: 1;
}

header {
    background-color: antiquewhite;
    width: 100vw;
    margin: 0;
    padding: 5px;
    height: 240pxvh;
    border: 5px solid black;
}

.titulo_page {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

footer {
    background-color: black;
    color: white;
    height: 10vh;
    width: 100vw;
    text-align: center;
    line-height: 10vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 10vh;
    line-height: 10vh;

}

.navbar a {
    font-size: 1.3rem;
    color: antiquewhite;
    text-decoration: solid;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    margin-left: 3rem;
}

.navbar a:hover {
    transform: scale(1.2);
    color: red;
}

.main_home {
    background-image: url("images/minimalism-8360717_640.jpg");
    height: 100vh;
        width: 100%;
        
}

.main_content {
    font-size: 80px;
    text-align: center;
    line-height: 50vh;
    font-weight: 800;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
    
}

@media (min-width:481px) and (max-width:780px) {
    .main_content {
        font-size: 40px;
    }
}

@media (max-width:480px) {
    .main_content {
        font-size: 25px;
    }
}

.main_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    color: antiquewhite;
    background-color: black;
    border-radius: 25px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    padding: 50px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    display: inline-block;
    color: antiquewhite;
    width: 30%;margin-left: 13%;
    font-size: 1.1rem;
}

.formulario h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

form > div {
    margin-bottom: 15px;
}

input {
    background-color: red;
   text-decoration: solid;
   color: antiquewhite;
    width: 40%;
}

input:focus{
    border-color:white;   
}


button {
    width: 100%;
    padding: 10px;
    background-color: antiquewhite ;
    color: black;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    color: black;
    background-color: red;
}
