 body {
     background-color: rgb(238, 243, 245);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 #container {
     margin-top: 10vh;
     margin-inline: auto;
     min-width: 400px;
     width: 20vw;
     background-color: white;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
 }

 .form {
     display: flex;
     flex-direction: column;
 }

 label,
 input {
     margin: 5px;
     height: 1rem;
 }

 input,
 textarea {
     width: 200px;
     height: 1rem;
     /* Hace que textarea tenga la misma altura que los inputs */
     padding: 5px;
     margin: 5px;
     border: 1px solid black;
     border-radius: 4px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 button {
     background-color: rgb(39, 170, 59);
     color: white;
 }

 button {
     width: 140px;
     height: 2rem;
     margin-top: 1rem;
     border-radius: 6px;
     border: 1px black solid;
     box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
 }

 button:hover {
     transform: scale(1.02);
     transition: 0.3s;
 }

 .results-div {
    margin-top: 10vh;
        margin-inline: auto;
        min-width: 400px;
        width: 20vw;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 0.7rem;
 }